
body{
  
  background:#eeeeee;
  background: white;
  text-align: center; 
  font-family: 'Raleway', sans-serif;

  
}


#instagram_header{
  display: block;
  position: static;
  border: 1px solid grey;
  border-color: #266072;
  width: 100%;
  height: 130px;
  margin-top:10px;
  background: #348095;
  box-shadow: 5px 5px 5px #ADB0B0;
  display: -webkit-box;
  -webkit-box-orient:vertical;
  -webkit-box-flex:1;

}


#div_topHeader h1{

  display: block;
  position: static;
  text-align: left;
  font-family: inherit;
  font: bold 40px inherit;
  color: white;
  margin-left: 30px ;
  margin-right: auto ;
margin-top: 20px ;
}
#div_topHeader h3{
  display: block;
  text-align: left;
  font-size: 12px;
  margin-top: 0px;
  font-style: normal;
  color: #bdaab8;
    margin-left: 30px ;


}


.col-sm-4{
	float:left;
	height:600px;
		overflow:hidden;

}

.icons {
	width:100%;

	float:left;
	position:relative;
}


.icon-slide-container{
	height:600px;
	overflow:hidden;
	text-align: left;
	position: absolute;
	float: left;
	width: 100%;
	
}

.slide-icon{
  width:100%;
  
  height:auto;
  
  margin-top:-300px;
  -webkit-transition:.4s ease;
  -moz-transition:.4s ease;
  -ms-transition:.4s ease;
  -o-transition:.4s ease;
  transition:.4 ease;
}
	
.slide-icon:hover{
  position:absolute;
  margin-top:0;
  

}



#down_footer{
	border: 1px solid black;
	border-color: #266072;
	width: 100%;
	height: 10%;
	margin: 0.5% 0px 0px 0px;
	padding: 0%;
	text-align: left;
	background: #348095;
	box-shadow: 5px 5px 5px #ADB0B0;
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex:1;
	font: bold 16px inherit;
	color: white;

}

/*
	background: #348095;
	border: 1px solid black;
	border-color: #266072;
	width: 100%;
	height: 14%;
	margin:3% 0px 0px 0px;
	padding: 0%;
	text-align: left;
	box-shadow: 5px 5px 5px #ADB0B0;
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex:1;
}
*/
#down_footer img{
display: inline-block;
margin-top: -120px;
margin-left: 10px;
box-shadow: 5px 5px 5px #ADB0B0;

}

#down_footer li{
	display: inline-block;

	margin-top: 0px;
	margin-right: -60px;
	margin-left: 150px;
	font-size: 15px;
    font-family: inherit;
    font-style: bold;
	color: white;
	
}
#down_footer h3{
	
	text-align: right;
	width: 20%;
	margin-left: 78%;
	padding: 0.2%;
	
   
    font-size: 16px;
    font-family: inherit;
  font-style: normal;
    color: #9ec3cd;
     
}

/*display: block;
  
  text-align: right;
  font-family: inherit;
  font: bold 20px inherit;
  color: #9ec3cd;
 margin-top: -40px;
  margin-right: 10px;
  margin-bottom: 20px;
  
  clear:both;
  */





