*{
  margin: 0;
  padding:0;
}

body{
  background:#eeeeee;
  background: white;
  text-align: center;
  font-family: 'Raleway', sans-serf;
  
}

.content{
	width: 12100;
	height: 70;
}
#top_border{
	border: 1px solid black;
	border-color: #266072;
	width: 1220;
	height: 70;
	margin: 11px auto;
	padding: 16px;
	text-align: left;
	background: #348095;
	box-shadow: 5px 5px 5px #ADB0B0;
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex:1;
}
#top_header{
	width: 900px;
	text-align: center;
	font: bold 16px inherit;
	color: white;
}
#top_header h1{
	display: block;
  position: static;
  text-align: left;
  font-family: inherit;
  font: bold 40px inherit;
  color: white;
  margin-left: 130px;

}
#top_header h3{
	display: block;
  text-align: left;
  font-size: 12px;
  margin-left: 230px;
  margin-top: 5px;
  font-style: normal;
  color: #bdaab8;

}
section{
		float: left;
		width: 100%;
		padding: 0;
		padding-left:0;
		padding-right:0;
}

#icon-wrapper{
	width:100%;
	float:left;
	height:500px;
}

.icons1 {
	width:25%;
	float:left;
	position:relative;
	margin-left:-4%;
}
.icons2 {
	width:25%;
	float:left;
	position:relative;
	margin-left:29%;
}
.icons3 {
	width:25%;
	float:left;
	position:relative;
	margin-left:62%;
}

.icon-slide-container{
	height:500px;
	overflow:hidden;
	text-align: left;
	position: absolute;
	float: left;
	width: 418px;
	left: 50%;
	margin-left: -150px;
}

.slide-icon{
  width:300px;
  height:auto;
  position:absolute;
  margin-top:-300px;
  -webkit-transition:.4s ease;
  -moz-transition:.4s ease;
  -ms-transition:.4s ease;
  -o-transition:.4s ease;
  transition:.4 ease;
}
	
.slide-icon:hover{
  position:absolute;
  margin-top:0;
}

@media only screen and (max-width: 1300px) {
  #icon-wrapper{
		width:100%;
		float:left;
		height:170px;
	}
  .icon-slide-container {
		height: 500px;
		overflow: hidden;
		text-align: left;
		position: absolute;
		float: left;
		width: 418px;
		left: 50%;
		margin-left: -100px;
	}
  .slide-icon {
		width: 200px;
		height: auto;
		position: absolute;
		margin-top: -200px;
	}
}

@media only screen and (max-width: 1000px) {
  #home-social-container{
		margin-right: 0;
		margin-left: 0;
		width: 100%;
		padding: 0;
		float: left;
		left: 0;
	}
}

@media only screen and (max-width: 840px) {
  #icon-wrapper{
		width:100%;
		float:left;
		height:650px;
	}
	
	.icon-slide-container {
		height: 500px;
		overflow: hidden;
		text-align: left;
		position: absolute;
		float: left;
		width: 418px;
		left: 50%;
		margin-left: -150px;
	}
	
	.slide-icon {
		width: 300px;
		height: auto;
		position: absolute;
		margin-top: -300px;
	}	
	.icons {
		width: 50%;
		float: left;
		position: relative;
	}
	.icons2 {
		width: 50%;
		float: left;
		position: relative;
		margin-left: 50%;
	}
	.icons3 {
		width: 50%;
		float: left;
		position: relative;
		margin-left: 50%;
		margin-top: 350px;
	}
}
                        
@media only screen and (max-width: 650px) {
	#icon-wrapper {
		height: 400px;
	}
	#section{
		width: 90%;
		padding-left:5%;
		padding-right:5%;
	}
	.slide-icon {
		width: 200px;
		height: auto;
		position: absolute;
		margin-top: -200px;
	}
	.icon-slide-container {
		height: 500px;
		width: 418px;
		left: 50%;
		margin-left: -100px;
	}
	.icons3 {
		width: 50%;
		position: relative;
		margin-left: 0%;
		margin-top: 230px;
	}
}
                                  
@media only screen and (max-width: 570px) {
	#icon-wrapper {
		height: 300px;
	}
	.slide-icon {
		width: 150px;
		height: auto;
		position: absolute;
		margin-top: -150px;
	}
	.icon-slide-container {
		height: 500px;
		width: 418px;
		left: 50%;
		margin-left: -75px;
	}
	.icons3 {
		width: 50%;
		float: left;
		margin-left: 0%;
		margin-top: 190px;
	}	
}
#down_footer{
	border: 1px solid black;
	border-color: #266072;
	width: 1240px;
	height: 70px;
	
	margin:520px 0px 0px 2px;
	padding: 19px;
	text-align: left;
	background: #348095;
	box-shadow: 5px 5px 5px #ADB0B0;
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex:1;
}
#the_footer img{
text-align: left;
margin: -25px auto;
box-shadow: 5px 5px 5px #ADB0B0;
}

#the_footer li{
	display: inline-block;
	list-style: none;
	margin-left: 150px;
	padding: auto;
	font: bold 14px Serif;
	color: white;
	text-align: right;;
}
#the_footer h3{

	display: block;
  position: static;
  text-align: right;
  font-family: inherit;
  font: bold 20px inherit;
  color: #bdaab8;
 margin-top: -30;
}




