{deps, [
  {ibrowse, "4.1.1", {git, "https://github.com/cmullaparthi/ibrowse", {tag, "v4.1.1"}}},
  {oauth, "1.4.0", {git, "https://github.com/tim/erlang-oauth/", {tag, "v1.4.0"}}},
  {jiffy, "0.13.1", {git, "https://github.com/davisp/jiffy", {tag, "0.13.1"}}},
  % We need to specify the dependency for riak_pb here to get a specific branch that fixes a compatibility problem with Rebar,
  % as described here: https://github.com/basho/riak_pb/issues/95
  {riak_pb, "java-2.0.0.16-6-gcf2c132", {git, "https://github.com/HashNuke/riak_pb.git", "cf2c1321521880719ae8ba8ba534cef173d8eba1"}} 
]}.
