[{twitterminer, [
 
 {twitter_accounts, [
   	{account1, [{api_key, "amsCDksDZI45U0z7fxAF9mrO4"},
	{api_secret, "F5Nc0Y2TWZ7oEtveSHnsI0WSZBKW2P7mUmdqcrOOvIK5RPQnjU"},
	{access_token, "2797684696-DM0E1UWNIk9OqTXiymX5WGfDf0LjRrVBgZDjJr7"},
	{access_token_secret, "PGtCNv7Az7bjxLDXxyzHtVP35e4SPRzW5cZj93WttlNAt"}
	   ]}]}
,
{riak_nodes, [
       {riak1, [
	    {host, "54.171.161.63"},
	    {port, 10017}
	]}]}
]}].

